/* IPHONE SE */
.projectsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.projectButtonGroup {
  border: 2px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  height: 6.25em;
  width: 100%;
  margin-top: 0.5em;
}

.projectsContent {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.leftDiv {
  border: 2px solid red;
  /* width: 25%; */
}
.projectLayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1em;
}
.rightDiv {
  margin-top: 1rem;
  /* width: 75%; */
  display: grid;
  grid-row-gap: 1.5em;
}
.projectSection {
  display: flex;
  flex-direction: column;
}

.firstCardMargin {
  margin-top: 1em;
}

.imgWrapper {
  position: relative;
}

.projectImg {
  max-width: 100%;
}

.colorLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.colorLayer:hover {
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
}
.projectType {
  color: #6e737f;
  font-weight: 400;
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: -10%;
  left: 32%;
  background-color: white;
  border-radius: 10px;
}

.projectDescription {
  color: #6e737f;
  font-weight: 400;
  text-align: center;
}
.centerMarginTop {
  margin-top: 2.5rem;
  text-align: center;
}

/* IPHONE SE END */

@media (min-width: 750px) {
  .projectLayout {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
}

@media (min-width: 900px) {
  .projectsContent {
    flex-direction: row;
  }

  .projectLayout {
    grid-gap: 1em;
  }
  .rightDiv {
    margin-top: 0;
    width: 75%;
  }

  .leftDiv {
    width: 25%;
  }
}

@media (min-width: 1300px) {
  .projectLayout {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1800px) {
  .projectLayout {
    grid-template-columns: repeat(4, 1fr);
  }
}
