.button {
  font-family: "Inter", sans-serif;
  padding-left: 1.25em;
  padding-right: 1.25em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border-radius: 8px;
  font-weight: 600;
}

.primary {
  border-style: none;
  background-color: #fb8500;
  color: white;
}

.secondary {
  border: 1px solid #e0e1e2;
  color: black;
}
