.profileContainer {
  width: 100%;
  border: 1px solid red;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileContent {
  width: 90%;
  border: 1px solid blue;
  height: 100%;
}
