.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px;
  border: 2px solid #e6e7ea;
  width: 300px;
}

@media (min-width: 900px) {
  .card {
    width: 250px;
  }
}
