/* Iphone SE */
.imgWrapper {
  position: relative;
}

.projectImg {
  width: 100%;
  height: 210px;
  border-radius: 16px;
}

.transition {
  transition: all 0.3 ease-in;
}
.colorLayer:hover {
  transition: all 0.3s ease;
  background-color: #fb8500;
}
.projectType {
  color: #6e737f;
  font-weight: 400;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  width: 60%;
  bottom: -6.5%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #fb8500;
  border-radius: 10px;
  color: white;
}
.projectDescription {
  color: #6e737f;
  font-weight: 400;
  text-align: center;
}

.centerMarginTop {
  display: inline-block;
  margin-top: 2.5rem;
  text-align: center;
  width: 100%;
}

.linkGroup {
  display: flex;
  justify-content: center;
}
a img {
  width: 2rem;
}

.webLink {
  margin-left: 1em;
}

.githubLink {
}
/* IPHONE SE END */
